$lightGray: #fafafa;
$medBlue: #9baecf;
$char: #292929;

code,
.code,
pre {
  -webkit-font-smoothing: auto;
  font-family: monospace;
  font-size: 16px;
  background: #242424;
  border-radius: 4px;
  color: #fff;
  display: block;
  line-height: 1em;
  position: relative;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1rem 2.5rem;
  white-space: pre;
  word-wrap: normal;
  text-align: left;
  div {

  }
}